{% extends 'shop/basic.html' %}

{% block title %} About US {% endblock %}
{% block body %} <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Easy Cart</h1>
          <p>EASY CART is an Indian e-commerce company, headquartered in Bangalore, and incorporated in Singapore as a private limited company. The company initially focused on online book sales before expanding into other product categories such as consumer electronics, fashion, home essentials, groceries, and lifestyle products.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>VISION</h2>
            <p>Our vision is to be earth's most customer centric company; to build a place where people can come to find and discover anything they might want to buy online. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>MISSSION</h2>
            <p>“To give everyone the power to create and share ideas and information instantly, without barriers.” “To reimagine commerce in ways that build a more fulfilling and lasting world. We are building a human, authentic and community-centric global and local marketplace.” </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>VALUES</h2>
            <p>Accountability: Each of us is responsible for our words, our actions, and our results.Respect: We value everyone and treat people with dignity and professionalism. Integrity: We build trust through responsible actions and honest relationships. Teamwork: We achieve more when we collaborate and all work together.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>
{% endblock %}